[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
  url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/dracula"]
	path = bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
